// Meta
meta(charset='utf-8')
//-meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
meta(name='description', content='')
meta(name='keywords', content='')
meta(name='author', content='')

title BeAdmin - Bootstrap Admin Theme

// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
<![endif]-->

// Bootstrap CSS
link(rel='stylesheet', href='app/css/bootstrap.css')
// Vendor CSS
link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='vendor/animo.js/animate-animo.css')
link(rel='stylesheet', href='vendor/whirl/dist/whirl.css')

// START Page Custom CSS

//- jQuery UI for Portlets and Calendar
if (firstMenu['Elements']['S']['Portlets']['active'] || secondMenu['Extras']['S']['Calendar']['active'])
  // jQuery UI
  link(rel='stylesheet', href='vendor/jquery-ui/themes/ui-lightness/jquery-ui.min.css')

if (secondMenu['Extras']['S']['Calendar']['active'])
  // FullCalendar
  link(rel='stylesheet', href='vendor/fullcalendar/dist/fullcalendar.min.css')
  link(rel='stylesheet', href='vendor/fullcalendar/dist/fullcalendar.print.css', type="text/css", media='print')

if (firstMenu['Forms']['S']['Extended']['active'] || secondMenu['Extras']['S']['Search']['active'])
  link(rel='stylesheet', href='vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')
  link(rel='stylesheet', href='vendor/chosen/chosen.css')
  link(rel='stylesheet', href='vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
  // Codemirror
  link(rel='stylesheet', href='vendor/codemirror/lib/codemirror.css')
  // Bootstrap tags
  link(rel='stylesheet', href='vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')

if (firstMenu['Tables']['S']['DataTables']['active'])
  // Data Table styles
  //- link(rel='stylesheet', href='vendor/datatables/media/css/jquery.dataTables.min.css')
  link(rel='stylesheet', href='vendor/datatables/media/css/dataTables.bootstrap.min.css')
  link(rel='stylesheet', href='vendor/datatables-colvis/css/dataTables.colVis.css')

// END Page Custom CSS

// App CSS
link(rel='stylesheet', href='app/css/app.css')

// Modernizr JS Script
script(src='vendor/modernizr/modernizr.custom.js', type='application/javascript')
// FastClick for mobiles
script(src='vendor/fastclick/lib/fastclick.js', type='application/javascript')
